com/sun/squawk/VM.startup(Lcom/sun/squawk/Suite;)V
com/sun/squawk/VM.executeGC(Z)V
com/sun/squawk/VM.threadSwitch()V
com/sun/squawk/VM.undefinedNativeMethod(I)V
com/sun/squawk/VM.callRun()V
com/sun/squawk/VM.getStaticOop(Lcom/sun/squawk/Klass;I)Ljava/lang/Object;
com/sun/squawk/VM.getStaticInt(Lcom/sun/squawk/Klass;I)I
com/sun/squawk/VM.getStaticLong(Lcom/sun/squawk/Klass;I)J
com/sun/squawk/VM.putStaticOop(Ljava/lang/Object;Lcom/sun/squawk/Klass;I)V
com/sun/squawk/VM.putStaticInt(ILcom/sun/squawk/Klass;I)V
com/sun/squawk/VM.putStaticLong(JLcom/sun/squawk/Klass;I)V
com/sun/squawk/VM.yield()V
com/sun/squawk/VM.nullPointerException()V
com/sun/squawk/VM.arrayIndexOutOfBoundsException()V
com/sun/squawk/VM.arithmeticException()V
com/sun/squawk/VM.abstractMethodError()V
com/sun/squawk/VM.arrayStoreException()V
com/sun/squawk/VM.monitorenter(Ljava/lang/Object;)V
com/sun/squawk/VM.monitorexit(Ljava/lang/Object;)V
com/sun/squawk/VM.checkcastException(Ljava/lang/Object;Lcom/sun/squawk/Klass;)V
com/sun/squawk/VM.class_clinit(Lcom/sun/squawk/Klass;)V
com/sun/squawk/VM._new(Lcom/sun/squawk/Klass;)Ljava/lang/Object;
com/sun/squawk/VM.newarray(ILcom/sun/squawk/Klass;)Ljava/lang/Object;
com/sun/squawk/VM.newdimension([Ljava/lang/Object;I)Ljava/lang/Object;
com/sun/squawk/VM._lcmp(JJ)I
com/sun/squawk/VM.STREAM_STDOUT
com/sun/squawk/VM.STREAM_STDERR
com/sun/squawk/VM.romStart
com/sun/squawk/VM.romEnd
com/sun/squawk/VM.bootstrapSuite
com/sun/squawk/vm/Native.*
com/sun/squawk/StringOfBytes.<init>()V
com/sun/squawk/StringOfBytes._init_(Lcom/sun/squawk/StringOfBytes;)Lcom/sun/squawk/StringOfBytes;
java/lang/Object.*
java/lang/String.<init>()V java/lang/String._init(Ljava/lang/String;)Ljava/lang/String;
java/lang/String.<init>(Ljava/lang/String;)V java/lang/String._init_(Ljava/lang/String;Ljava/lang/String;)Ljava/lang/String;
java/lang/String.<init>([C)V java/lang/String._init_(Ljava/lang/String;[C)Ljava/lang/String;
java/lang/String.<init>([CII)V java/lang/String._init_(Ljava/lang/String;[CII)Ljava/lang/String;
java/lang/String.<init>(Ljava/lang/String;II)V java/lang/String._init_(Ljava/lang/String;Ljava/lang/String;II)Ljava/lang/String;
java/lang/String.<init>([BIILjava/lang/String;)V java/lang/String._init_(Ljava/lang/String;[BIILjava/lang/String;)Ljava/lang/String;
java/lang/String.<init>([BLjava/lang/String;)V java/lang/String._init_(Ljava/lang/String;[BLjava/lang/String;)Ljava/lang/String;
java/lang/String.<init>([BII)V java/lang/String._init_(Ljava/lang/String;[BII)Ljava/lang/String;
java/lang/String.<init>([B)V java/lang/String._init_(Ljava/lang/String;[B)Ljava/lang/String;
java/lang/String.<init>(Ljava/lang/StringBuffer;)V java/lang/String._init_(Ljava/lang/String;Ljava/lang/StringBuffer;)Ljava/lang/String;
java/lang/String.<init>(Ljava/lang/StringBuilder;)V java/lang/String._init_(Ljava/lang/String;Ljava/lang/StringBuilder;)Ljava/lang/String;
com/sun/squawk/MethodBody.<init>()V
com/sun/squawk/Member.<init>(Lcom/sun/squawk/KlassMetadata;I)V
com/sun/squawk/ExceptionHandler.<init>(IIILcom/sun/squawk/Klass;)V
com/sun/squawk/vm/FieldOffsets.<init>()V
com/sun/squawk/vm/MethodOffsets.*
com/sun/squawk/vm/HDR.*
com/sun/squawk/vm/MathOpcodes.*
com/sun/squawk/vm/AddressType.*
com/sun/squawk/vm/FP.*
com/sun/squawk/vm/CID.*
com/sun/squawk/GC.GC_TRACING_SUPPORTED
com/sun/squawk/GC.TRACE_ALLOCATION
com/sun/squawk/GC.traceThreshold
com/sun/squawk/GC.nvmStart
com/sun/squawk/GC.nvmEnd
com/sun/squawk/GC.nvmAllocationPointer
com/sun/squawk/GC.readOnlyObjectMemories
com/sun/squawk/GC.heapStart
com/sun/squawk/GC.allocEnd
com/sun/squawk/GC.heapEnd
com/sun/squawk/GC.ramStart
com/sun/squawk/GC.ramEnd
com/sun/squawk/GC.allocTop
com/sun/squawk/Klass.self
com/sun/squawk/Klass.virtualMethods
com/sun/squawk/Klass.staticMethods
com/sun/squawk/Klass.name
com/sun/squawk/Klass.componentType
com/sun/squawk/Klass.superType
com/sun/squawk/Klass.interfaces
com/sun/squawk/Klass.interfaceVTableMaps
com/sun/squawk/Klass.objects
com/sun/squawk/Klass.oopMap
com/sun/squawk/Klass.oopMapWord
com/sun/squawk/Klass.dataMap
com/sun/squawk/Klass.dataMapWord
com/sun/squawk/Klass.dataMapLength
com/sun/squawk/Klass.modifiers
com/sun/squawk/Klass.state
com/sun/squawk/Klass.id
com/sun/squawk/Klass.instanceSizeBytes
com/sun/squawk/Klass.staticFieldSize
com/sun/squawk/Klass.refStaticFieldsSize
com/sun/squawk/Klass.initModifiers
com/sun/squawk/Klass.staticMethods

com/sun/squawk/Modifier.KLASS_MUSTCLINIT
com/sun/squawk/CheneyCollector.copyingObjectGraph
com/sun/squawk/CheneyCollector.forwardingRepairMapTop
com/sun/squawk/CheneyCollector.oopMap
com/sun/squawk/CheneyCollector.HashTableKlass
com/sun/squawk/CheneyCollector.forwardingRepairMap
com/sun/squawk/CheneyCollector.ByteArrayKlass
com/sun/squawk/CheneyCollector.IsolateKlass
com/sun/squawk/CheneyCollector.theIsolate
com/sun/squawk/CheneyCollector.decoder
com/sun/squawk/CheneyCollector.collectionTimings
com/sun/squawk/CheneyCollector.copyTimings
com/sun/squawk/CheneyCollector$Timings.setup
com/sun/squawk/CheneyCollector$Timings.copyRoots
com/sun/squawk/CheneyCollector$Timings.copyNonRoots
com/sun/squawk/CheneyCollector$Timings.finalize
com/sun/squawk/CheneyCollector$Timings.repair
com/sun/squawk/GarbageCollector.references
com/sun/squawk/GarbageCollector.numBytesLastScanned
com/sun/squawk/Ref.next
com/sun/squawk/Ref.sink
com/sun/squawk/Ref.referent
com/sun/squawk/Sink.head
com/sun/squawk/ObjectMemory.root
com/sun/squawk/ObjectMemorySerializer$ControlBlock.oopMap
com/sun/squawk/ObjectMemorySerializer$ControlBlock.root
com/sun/squawk/ObjectMemorySerializer$ControlBlock.start
com/sun/squawk/ObjectMemorySerializer$ControlBlock.memory
com/sun/squawk/vm/ChannelConstants.RESULT_OK
com/sun/squawk/vm/ChannelConstants.GLOBAL_GETEVENT
com/sun/squawk/vm/ChannelConstants.GLOBAL_WAITFOREVENT
com/sun/squawk/VM.setStream0(I)I com/sun/squawk/vm/ChannelConstants.INTERNAL_SETSTREAM
com/sun/squawk/VM.print(Ljava/lang/String;)V com/sun/squawk/vm/ChannelConstants.INTERNAL_PRINTSTRING
com/sun/squawk/VM.print(C)V com/sun/squawk/vm/ChannelConstants.INTERNAL_PRINTCHAR
com/sun/squawk/VM.print(I)V com/sun/squawk/vm/ChannelConstants.INTERNAL_PRINTINT
com/sun/squawk/VM.print(D)V com/sun/squawk/vm/ChannelConstants.INTERNAL_PRINTDOUBLE
com/sun/squawk/VM.print(F)V com/sun/squawk/vm/ChannelConstants.INTERNAL_PRINTFLOAT
com/sun/squawk/VM.printUWord(Lcom/sun/squawk/UWord;)V com/sun/squawk/vm/ChannelConstants.INTERNAL_PRINTUWORD
com/sun/squawk/VM.printOffset(Lcom/sun/squawk/Offset;)V com/sun/squawk/vm/ChannelConstants.INTERNAL_PRINTOFFSET
com/sun/squawk/VM.print(J)V com/sun/squawk/vm/ChannelConstants.INTERNAL_PRINTLONG
com/sun/squawk/VM.printAddress(Lcom/sun/squawk/Address;)V com/sun/squawk/vm/ChannelConstants.INTERNAL_PRINTADDRESS
com/sun/squawk/VM.printBytes([BII)V com/sun/squawk/vm/ChannelConstants.INTERNAL_PRINTBYTES
com/sun/squawk/VM.getPathSeparatorChar()C com/sun/squawk/vm/ChannelConstants.INTERNAL_GETPATHSEPARATORCHAR
com/sun/squawk/VM.getFileSeparatorChar()C com/sun/squawk/vm/ChannelConstants.INTERNAL_GETFILESEPARATORCHAR
com/sun/squawk/VM.getTimeMicros()J com/sun/squawk/vm/ChannelConstants.INTERNAL_GETTIMEMICROS_HIGH
com/sun/squawk/VM.getTimeMillis()J com/sun/squawk/vm/ChannelConstants.INTERNAL_GETTIMEMILLIS_HIGH
com/sun/squawk/VM.getTimeMillis()J com/sun/squawk/vm/ChannelConstants.INTERNAL_LOW_RESULT
com/sun/squawk/VM.haltVM(I)V com/sun/squawk/vm/ChannelConstants.INTERNAL_STOPVM
com/sun/squawk/vm/ChannelConstants.*
com/sun/squawk/vm/SC.guard
com/sun/squawk/vm/SC.limit
com/sun/squawk/vm/SC.owner
com/sun/squawk/vm/SC.lastFP
com/sun/squawk/vm/SC.lastBCI
com/sun/squawk/vm/OPC.*
com/sun/squawk/vm/OPC$Properties.WIDE_DELTA
com/sun/squawk/vm/OPC$Properties.ESCAPE_WIDE_DELTA
com/sun/squawk/ServiceOperation.NONE
com/sun/squawk/ServiceOperation.THROW
com/sun/squawk/ServiceOperation.EXTEND
com/sun/squawk/ServiceOperation.CHANNELIO
com/sun/squawk/ServiceOperation.GARBAGE_COLLECT
com/sun/squawk/ServiceOperation.event

com/sun/squawk/ObjectAssociation.klass
com/sun/squawk/ObjectAssociation.virtualMethods
com/sun/squawk/ObjectAssociation.monitor
com/sun/squawk/ObjectAssociation.hashCode

com/sun/squawk/Suite.classes

java/lang/Cloneable
com/sun/squawk/pragma/GlobalStaticFields.*

# for mapper
#com/sun/squawk/Suite.configuration
#com/sun/squawk/Suite.metadatas
#com/sun/squawk/Suite.resourceFiles
#com/sun/squawk/Suite.manifestProperties
#com/sun/squawk/Suite.noClassDefFoundErrorClassNames
#com/sun/squawk/ResourceFile
#com/sun/squawk/ManifestProperty
