com/sun/squawk/Lisp2Bitmap.size
com/sun/squawk/Lisp2Bitmap.start
com/sun/squawk/Lisp2Bitmap.base
com/sun/squawk/Lisp2Bitmap.Iterator_next
com/sun/squawk/Lisp2Bitmap.Iterator_end
com/sun/squawk/Lisp2Bitmap.Iterator_inUse
com/sun/squawk/Lisp2Bitmap.clearBitsFor(Lcom/sun/squawk/Address;Lcom/sun/squawk/Address;)V
com/sun/squawk/Lisp2Bitmap.clearBitFor(Lcom/sun/squawk/Address;)V
com/sun/squawk/Lisp2Collector.markingStack
com/sun/squawk/Lisp2Collector.collectionStart
com/sun/squawk/Lisp2Collector.collectionEnd
com/sun/squawk/Lisp2Collector.markingRecursionLevel
com/sun/squawk/Lisp2Collector.firstDeadBlock
com/sun/squawk/Lisp2Collector.lastDeadBlock
com/sun/squawk/Lisp2Collector.firstMovingBlock
com/sun/squawk/Lisp2Collector.classOffsetMask
com/sun/squawk/Lisp2Collector$MarkingStack.base
com/sun/squawk/Lisp2Collector$MarkingStack.size
com/sun/squawk/Lisp2Collector$MarkingStack.index
com/sun/squawk/Lisp2Collector$MarkingStack.overflowed