com/sun/squawk/Klass.virtualMethods
com/sun/squawk/Klass.staticMethods
com/sun/squawk/Klass.name
com/sun/squawk/Klass.componentType
com/sun/squawk/Klass.superType
com/sun/squawk/Klass.interfaces
com/sun/squawk/Klass.objects
com/sun/squawk/Klass.dataMap
com/sun/squawk/Klass.dataMapWord
com/sun/squawk/Klass.dataMapLength
com/sun/squawk/Klass.modifiers
com/sun/squawk/Klass.state
com/sun/squawk/Klass.instanceSizeBytes
com/sun/squawk/Klass.staticFieldSize
com/sun/squawk/Klass.initModifiers

com/sun/squawk/Member.<init>(Lcom/sun/squawk/KlassMetadata;I)V
com/sun/squawk/vm/ChannelConstants.INTERNAL_NATIVE_PLATFORM_NAME

com/sun/squawk/Suite.name
com/sun/squawk/Suite.configuration
com/sun/squawk/Suite.metadatas
com/sun/squawk/Suite.resourceFiles
com/sun/squawk/Suite.manifestProperties
com/sun/squawk/Suite.noClassDefFoundErrorClassNames
com/sun/squawk/ResourceFile
com/sun/squawk/ManifestProperty
